.pages {
    
    header {
        height: 55px;
    }
    .logoohmyfood {
        margin-left: 60px;
        margin-top: 20px; 
        margin-bottom: 4px;
    }

    #coeurpages {
        position: absolute;
        margin-top: -58px;
        margin-left: 85%;
        font-size: 28px;
        
        &:active {
            opacity: 0;
    }}

    #coeurpagesrempli {
        position: absolute;
        margin-top: -58px;
        margin-left: 85%;
        font-size: 28px;
        opacity: 0;
        

        &:active {
            opacity: 1;
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
    }}
    
    
    .pagesimg {
        width: 100%;
        object-fit: cover;
        max-height: 500px;
    }

    .imagehautdepage {
        margin-bottom: -80px;
    }
    
    .carte {
        width: 100%;
        position: relative;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #eaeaea;

        h2 {
            padding-top: 15px;
            font-family: 'Shrikhand', cursive;
            font-weight: 500;
            font-size: 28px;
            margin-left: 5%;
        }
    
        h3 {
            width: 12%;
            padding: 0px 0px 5px 0px;
            margin-left: 8px;
            border-bottom: 3px solid #99E2D0;
            font-size: 16px;
            font-weight: 300;
        }

        h4 {
            font-size: 18px;
            margin: 0px;
        }
    
        p {
            font-size: 15px;
            margin: 0px;
        }
    
            .menubox {
                width: 93%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: row;
                border-radius: 15px;
                background-color: #FFFFFF;
                padding : 0px 0px 0px 5px;
                box-shadow: 0px 4px 0px 15px rgba(234,234,234,0.1) ;

                .animationvalidation {
                    display: flex;
                    flex-direction: row;
                    padding: 0px;
                    margin: 0px;
                    gap: 5px;
                    transition: all 1000ms;
                }
    
                li {
                    list-style-type: none;
                    padding: 15px 8px 15px 8px;
                    &:hover {
                    cursor: pointer;
                }
        
                }  
    
                .prix {
                    padding-top: 35px;
                    font-weight: 700;
                    font-size: 15px;
                    padding-left: 66px; 
                    
                    
                    &:active {
                    padding-left: 39px;
                }

                    &:active + .validation {
                        display: list-item;
                    }
                }

                .menu:active + .animationvalidation .prix {

                    padding-left: 39px;
                }
    
                i {
                    font-size: 20px;
                    color: #FFFFFF; 
                    padding: 25px 20px 0px 20px ;
                    
                }
                
                .validation {
                    position: absolute;
                    opacity: 0 ;
                    margin: 0px ;
                    margin-left: 278px;
                    width: auto;
                    background-color:#99E2D0;
                    border-radius: 0px 15px 15px 0px;
                    transition: transform 500ms ease-out;
                }

                .menu:active +.animationvalidation .validation {
                    display: list-item;
                    opacity: 1;
                    transform: translate(-60px,0px);
                }
            
    }

    
        .bouttonrose {
            width: 50% ;
            margin-left: auto;
            margin-right: auto;
        }


        a {
            text-decoration: none;
        font-size: 16px;
        padding: 15px 50px 15px 50px;
        color: white;
        border-radius: 25px;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        box-shadow: 0px 0px 0 0px #fff;
        transition: box-shadow, background, 500ms;
        &:hover {
            box-shadow: 0px 4px 15px rgb(0, 0, 0, 0.35);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                }
        }

        


    }


    

    

    footer {
        width: 100%;
    }
}