.pages {
    
    header {
        height: 55px;
    }
    .logoohmyfood {
        margin-left: 60px;
        margin-top: 20px; 
        margin-bottom: 4px;
    }

    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        margin-left: 20px;
    }

    #coeurpages {
        position: absolute;
        margin-top: -58px;
        margin-left: 318px;
        font-size: 28px;
    }
    
    
    .pagesimg {
        width: 100%;
        object-fit: cover;
        max-height: 500px;
    }

    .imagehautdepage {
        margin-bottom: -80px;
    }
    
    .carte {
        width: 100%;
        position: relative;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #F6F6F6;
    }
    

    

    footer {
        width: 100%;
    }
}