body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

div {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin: 10px 0px 10px 0px;
}
header img {
  display: block;
  height: 30px;
  margin: 14px auto 5px auto;
}
header i {
  font-size: 21px;
  margin: 24px 0px 23px 23px;
  color: black;
}

footer {
  background-color: #353535;
}
footer img {
  margin-left: 20px;
  margin-top: 20px;
  width: 110px;
  height: 18px;
  filter: brightness(200);
}
footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer ul a i {
  padding-right: 5px;
  font-size: 13px;
}

#decalage {
  padding-right: 9px;
}

.reservation {
  background-color: #F3F3F3;
  padding: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}
.reservation h1 {
  text-align: center;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
.reservation p {
  text-align: center;
  font-size: 18px;
}
.reservation a {
  text-decoration: none;
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(180deg, #FF79DA, #9356DC 100%);
}

#Explorer {
  margin: 40px 0px 50px 0px;
}

.localisation {
  background-color: #EAEAEA;
  padding: 15px 0px 15px 0px;
}
.localisation .__recherche {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
}
.localisation .__recherche .--zonedetexte {
  width: 150px;
  border: 0px;
  background-color: #EAEAEA;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 550;
}

.fonctionnement h1 {
  margin-left: 15px;
}
.fonctionnement .numrond {
  position: absolute;
  color: white;
  margin-top: 23px;
  margin-left: -10px;
  background-color: #9356DC;
  padding: 3px 7px 3px 7px;
  border-radius: 25px 25px 25px 25px;
}
.fonctionnement li {
  align-items: center;
  width: 85%;
  max-width: 323px;
  list-style-type: none;
  font-weight: 700;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #F6F6F6;
  padding: 25px 0px 25px 30px;
  border-radius: 15px;
}
.fonctionnement li i {
  font-size: 20px;
  color: #7E7E7E;
  margin-right: 20px;
}

.restaurant {
  background-color: #EAEAEA;
  padding-top: 20px;
  padding-bottom: 20px;
}
.restaurant .restaurantspan {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.restaurant h2 {
  align-items: first baseline;
  margin-left: 16px;
  padding-bottom: 20px;
}
.restaurant a {
  text-decoration: none;
}
.restaurant article {
  background-color: white;
  border-radius: 15px;
}
.restaurant article img {
  width: 350px;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.restaurant article h3 {
  color: black;
  padding-left: 15px;
  font-size: 1.4em;
  margin-bottom: 0px;
}
.restaurant article p {
  color: black;
  padding-left: 15px;
  font-size: 1.2em;
  margin-top: 0px;
  margin-bottom: 15px;
}
.restaurant article .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
}
.restaurant article .description {
  width: 100%;
}
.restaurant article i {
  font-size: 30px;
  color: black;
  padding-top: 33px;
}

.pages header {
  height: 55px;
}
.pages .logoohmyfood {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.pages h2 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin-left: 20px;
}
.pages #coeurpages {
  position: absolute;
  margin-top: -58px;
  margin-left: 318px;
  font-size: 28px;
}
.pages .pagesimg {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}
.pages .imagehautdepage {
  margin-bottom: -80px;
}
.pages .carte {
  width: 100%;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #F6F6F6;
}
.pages footer {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
