body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
}

div {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin: 10px 0px 10px 0px;
}
header img {
  display: block;
  height: 30px;
  margin: 14px auto 5px auto;
}
header i {
  font-size: 21px;
  margin: 24px 0px 23px 23px;
  color: black;
}

footer {
  background-color: #353535;
}
footer img {
  margin-left: 20px;
  margin-top: 20px;
  width: 110px;
  height: 18px;
  filter: brightness(200);
}
footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer ul a i {
  padding-right: 5px;
  font-size: 13px;
}

#decalage {
  padding-right: 9px;
}

.reservation {
  background-color: #F3F3F3;
  padding: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}
.reservation h1 {
  text-align: center;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
.reservation p {
  text-align: center;
  font-size: 18px;
}
.reservation .bouttonrose {
  margin: 40px 0px 50px 0px;
}
.reservation a {
  text-decoration: none;
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 0px 0 0px #fff;
  transition: box-shadow, background, 500ms;
}
.reservation a:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.localisation {
  background-color: #EAEAEA;
  padding: 15px 0px 15px 0px;
}
.localisation .__recherche {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
}
.localisation .__recherche .--zonedetexte {
  width: 150px;
  border: 0px;
  background-color: #EAEAEA;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 550;
}

.fonctionnement h1 {
  margin-left: 15px;
}
.fonctionnement .numrond {
  position: absolute;
  color: white;
  margin-top: 23px;
  margin-left: -10px;
  background-color: #9356DC;
  padding: 3px 7px 3px 7px;
  border-radius: 25px 25px 25px 25px;
}
.fonctionnement li {
  align-items: center;
  width: 85%;
  max-width: 323px;
  list-style-type: none;
  font-weight: 700;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #F6F6F6;
  padding: 25px 0px 25px 30px;
  border-radius: 15px;
}
.fonctionnement li i {
  font-size: 20px;
  color: #7E7E7E;
  margin-right: 20px;
}

.restaurant {
  background-color: #EAEAEA;
  padding-top: 20px;
  padding-bottom: 20px;
}
.restaurant .restaurantspan {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.restaurant h2 {
  align-items: first baseline;
  margin-left: 16px;
  padding-bottom: 20px;
}
.restaurant a {
  text-decoration: none;
}
.restaurant article {
  width: 90%;
  background-color: white;
  border-radius: 15px;
}
.restaurant article .nouveau {
  position: absolute;
  margin-top: 3%;
  margin-left: 67%;
  background-color: #99E2D0;
  padding: 5px;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.restaurant article img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.restaurant article h3 {
  color: black;
  padding-left: 15px;
  font-size: 1.4em;
  margin-bottom: 0px;
}
.restaurant article p {
  color: black;
  padding-left: 15px;
  font-size: 1.2em;
  margin-top: 0px;
  margin-bottom: 15px;
}
.restaurant article .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
}
.restaurant article .description {
  width: 100%;
}
.restaurant article #coeurpages {
  position: absolute;
  margin-top: 32px;
  margin-left: 18px;
  font-size: 28px;
}
.restaurant article #coeurpages:hover {
  opacity: 0;
}
.restaurant article #coeurpagesrempli {
  position: absolute;
  margin-top: 32px;
  margin-left: 18px;
  font-size: 28px;
  opacity: 0;
}
.restaurant article #coeurpagesrempli:active {
  opacity: 1;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.pages header {
  height: 55px;
}
.pages .logoohmyfood {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.pages #coeurpages {
  position: absolute;
  margin-top: -58px;
  margin-left: 85%;
  font-size: 28px;
}
.pages #coeurpages:active {
  opacity: 0;
}
.pages #coeurpagesrempli {
  position: absolute;
  margin-top: -58px;
  margin-left: 85%;
  font-size: 28px;
  opacity: 0;
}
.pages #coeurpagesrempli:active {
  opacity: 1;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.pages .pagesimg {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}
.pages .imagehautdepage {
  margin-bottom: -80px;
}
.pages .carte {
  width: 100%;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #eaeaea;
}
.pages .carte h2 {
  padding-top: 15px;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 28px;
  margin-left: 5%;
}
.pages .carte h3 {
  width: 12%;
  padding: 0px 0px 5px 0px;
  margin-left: 8px;
  border-bottom: 3px solid #99E2D0;
  font-size: 16px;
  font-weight: 300;
}
.pages .carte h4 {
  font-size: 18px;
  margin: 0px;
}
.pages .carte p {
  font-size: 15px;
  margin: 0px;
}
.pages .carte .menubox {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 0px 0px 0px 5px;
  box-shadow: 0px 4px 0px 15px rgba(234, 234, 234, 0.1);
}
.pages .carte .menubox .animationvalidation {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  gap: 5px;
  transition: all 1000ms;
}
.pages .carte .menubox li {
  list-style-type: none;
  padding: 15px 8px 15px 8px;
}
.pages .carte .menubox li:hover {
  cursor: pointer;
}
.pages .carte .menubox .prix {
  padding-top: 35px;
  font-weight: 700;
  font-size: 15px;
  padding-left: 66px;
}
.pages .carte .menubox .prix:active {
  padding-left: 39px;
}
.pages .carte .menubox .prix:active + .validation {
  display: list-item;
}
.pages .carte .menubox .menu:active + .animationvalidation .prix {
  padding-left: 39px;
}
.pages .carte .menubox i {
  font-size: 20px;
  color: #FFFFFF;
  padding: 25px 20px 0px 20px;
}
.pages .carte .menubox .validation {
  position: absolute;
  opacity: 0;
  margin: 0px;
  margin-left: 278px;
  width: auto;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  transition: transform 500ms ease-out;
}
.pages .carte .menubox .menu:active + .animationvalidation .validation {
  display: list-item;
  opacity: 1;
  transform: translate(-60px, 0px);
}
.pages .carte .bouttonrose {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.pages .carte a {
  text-decoration: none;
  font-size: 16px;
  padding: 15px 50px 15px 50px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 0px 0 0px #fff;
  transition: box-shadow, background, 500ms;
}
.pages .carte a:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}
.pages footer {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
