footer {
    background-color: #353535;
    @include tablets {
        display: flex;
        flex-direction: row-reverse;
        gap: 15px;
        padding: 30px 10px 10px 10px;
    }

    img {
        margin-left: 20px;
        margin-top: 20px;
        width: 110px;
        height: 18px;
        filter: brightness(200);
        @include tablets {
            margin-right: 30px;
        }
    }
    
    ul { 
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 10px;
        padding-left: 20px;
        padding-bottom: 20px;
        margin-bottom: 0px;
        @include tablets {
            flex-direction: row;
        }

        a {
                text-decoration: none;
                color: white;

                i {
                    padding-right: 5px;
                    font-size: 13px;

                    

                }
    }
    }}

    #decalage {
        padding-right: 9px;
    }