header {
    margin: 10px 0px 10px 0px;
    height: 40px !important;

    img {
        display: block;
        height: 30px; 
        margin: 25px auto 5px auto;
        
    }

    a {
        position: absolute;
        font-size: 21px;
        margin: 6px 0px 0px 23px;
        color: black;
    }
}