.reservation {
    background-color: #F3F3F3;
    padding: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    h1 {
        text-align: center;
        margin-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    p {
        text-align: center;
        font-size: 18px;
    }
    
    
    .bouttonrose {
        margin: 40px 0px 50px 0px;
    
    }
    

    a {
        text-decoration: none;
        font-size: 16px;
        padding: 15px 20px 15px 20px;
        color: white;
        border-radius: 25px;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        box-shadow: 0px 0px 0 0px #fff;
        transition: box-shadow, background, 500ms;
        &:hover {
            box-shadow: 0px 4px 15px rgb(0, 0, 0, 0.35);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                }
        

        
    }


}


