header {
    display: flex;
    flex-direction: row;
    gap: 0px ;
    margin: 10px 0px 10px 0px;

    img {display: block;
        width: 132 px; 
        height: 30px; 
        margin: 14px auto 5px auto;}

    i {font-size: 25px;
        margin: 24px 0px 23px 23px; 
        color: black;}
}