$main-color : #EAEAEA ;

.localisation {
    background-color: $main-color;
    padding: 15px;

    .__recherche {

        padding-left: 30%;
        
        .--zonedetexte {
            border: 0px;
            background-color: $main-color;
            padding-left: 10px;
            font-size: 16px;
            font-weight:  550;
        }
    }
}